.header-container{
    border: 1px solid black;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color:white;
}
.world{
    color:rgb(66, 108, 215);
}
.movieTitle, .world{
    cursor:pointer;
}