*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.movie-container{
    height:100%;
    display:flex;
    flex-direction: column;
}
.movies, .movies2{
    border: 1px solid black;
    width:250px;
    height:293px;
    margin-left: 5px;
}
.row1,.row2{
    display:flex;
}

